#!/bin/sh

## Template for "setup-keys.sh": fill in values below, rename
## (and whatever else, DO NOT CHECK IN WITH CREDENTIALS :) )

# for PROD
export TOKEN_PROD=""
export DB_PROD=""

# for TEST
export TOKEN_TEST=""
export DB_TEST=""

# for DEV
export TOKEN_DEV=""
export DB_DEV=""
